.feedback-form{
    width: 408px;
  }
  
  .feedback-form{
    padding: 24px;
    background-color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin: 0 auto;
    text-align: left;
  }
  
  .feedback-form input, .feedback-form textarea{
    line-height: 24px;
    font-size: 16px;
    padding: 8px 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    max-width: 360px;
    width: 100%;
    outline: none;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #979798;
    border-radius: 6px;
    outline: none;
  }
  
  .feedback-form textarea{
    height: 80px;
    resize: none;
  }
  
  .feedback-form input{
    margin-top: 8px;
  }
  .feedback-form button{
    margin-top: -8px;
  }
  .feedback-form label{
    display: flex;
    margin-bottom: 8px;
    flex-direction: column;
    text-align: left;
  
  }
  .feedback-form button{
    font-size: 16px;
    line-height: 24px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 4%;
    font-weight: 500;
    color: #FFFFFF;
    padding: 8px 16px;
    background-color: #4E75FF;
    border: 1px solid transparent;
    border-radius: 8px;
  }
  .feedback-form button:hover{
    background-color: #6C8CFF;
    cursor: pointer;
  }